@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply xl:text-[10px] lg:text-[7px] text-[10px]
}

body {
  font-family: "Space Grotesk", sans-serif;
}

div {
  max-width: 100%;
}
ul,li {
  list-style: none;
}
.container {
  max-width: 1640px !important;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.shadow-button {
  background: linear-gradient(180deg, #3B3B3B 0%, #2E2E2E 100%);
  box-shadow: 0px 4px 0px 0px #282828, 0px 8px 12px -2px rgba(25, 25, 25, 0.69), 0.5px 1px 0px 0px rgba(113, 113, 113, 0.33) inset, 0px 0.2px 1px 0.5px rgba(113, 113, 113, 0.55) inset;
}

.bg-gradient-pink-purple {
  background: linear-gradient(90deg, #E65D80 0%, #8754CD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-item-tools {
  border: 0.5px solid rgba(255, 255, 255, 0.20);
}

.communities-style {
  border-top: 1px solid #E3E2E2;
  border-bottom: 1px solid #E3E2E2;
  background: rgba(30, 30, 30, 0.50);
}
.experience-horizontal {
  display: flex;
  white-space: nowrap;
  width: 100vw;
  scroll-snap-type: x mandatory;
}
.item-tool {
  flex-shrink: 0;
  scroll-snap-align: start;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}
.item-tool-container {
  grid-template-columns: repeat(5, 1fr);
  gap: -1px;
}

.item-tool {
  padding: 20px;
  text-align: center;
  border-right: none;
  border-bottom: none; 
}

.item-tool:nth-child(5n+1) {
  border-left: none;
}

.item-tool:nth-child(5n) {
  border-right: none;
}
.item-tool img{
  min-width: 100px;
  width: 55%;
}

.bg-opacity {
  width: 100vw;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.bg-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/src/assets/images/bg-community.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Adjust this value for the desired opacity */
  z-index: -1; /* Send it behind the content */
}


.noise {
  position: fixed;
  top: -50%;
  left: 0;
  right: 0;
  bottom: -50%;
  width: 500vw;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: .5;
  visibility: visible;
  pointer-events: none;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

@media (max-width: 991px) {

  .item-tool-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  .item-tool {
    width: 33.33%;
    flex-basis: 33.33%;
    max-width:  33.33%;
  }

  .item-tool:nth-child(3n+1) {
    border-left: none;
  }

  .item-tool:nth-child(3n) {
    border-right: none;
  }
}